<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meshiterro</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="app/assets/stylesheet/post_images_header_category.css">
  </head> 

  <body>

    <div class="header" id="header">
      <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">
        <div class="container relative">
          <div class="navbar-header">
            <a class="navbar-logo" href="/">
              <%= image_tag('study_share_header.jpg') %>
            </a>
   
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div id="slidemenu">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <% if user_signed_in? %>
                  <div class="header_category_div">
                    <div class="header_category">subject</div>
                    <li class="">
                      <%= link_to '英語', category_index_English_path, class: "header_category_English" %>
                      <%= link_to '数学', category_index_mathematics_path, class: "header_category_English" %>
                      <%= link_to '国語', category_index_Japanese_path, class: "header_category_English" %>
                      <%= link_to '理科', category_index_science_path, class: "header_category_English" %>
                      <%= link_to '社会', category_index_social_study_path, class: "header_category_English" %>
                    </li>
                  </div>
                
                <li class="">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
                <li class="">
                  <%= link_to '投稿フォーム', new_post_image_path %>
                </li>
                <li class="">
                  <!-- ↓ここにつきましては、5章の方で正しいroutingに書き直します。 -->
                  <%= link_to 'マイページ', user_path(current_user.id) %>
                </li>
              <% else %>
                <li class="">
                  <%= link_to "新規登録", new_user_registration_path %>
                </li>
                <li class="">
                  <%= link_to "ログイン", new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  
    <%= yield %>

   <footer class="footer style-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="col">
              <br>
              <p class="no-margin" style="font-size: 11px;">
              <br>
              善良な市民同士で無差別に食欲を煽るSNS
          </p>
              <%= image_tag('study_share_footer_logo.jpg', :class => "no-margin-img") %>
              
            </div>
          </div>
          <div class="col-md-2">
            <div class="col">
              <h4>Link</h4>
              <ul>
                <li>
                  <a href="" title="About">会社概要</a>
                </li>
                <li>
                  <a href="" title="License informations">プライバシーポリシー</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
